<header class="header-main">
    <div class="header-title">
        <h1>TechStore</h1>
    </div>
    <nav class="header-nav">
        <a href="/index.html">Inicio</a>
        <a href="/pages/01-componentes/index.html">Componentes</a>
        <a href="/pages/02-pcs-armadas/index.html">PCs Armadas</a>
        <a href="/pages/03-configurador/index.html">Configurador</a>
        <a href="/pages/04-soporte/index.html">Soporte</a>
    </nav>
    <div class="header-actions">
        <input class="search" type="text" placeholder="Buscar Productos...">
        <button class="cart-btn">
            <img src="https://img.icons8.com/ios-filled/50/shopping-cart.png" alt="carrito" id="cart-ico">
            <span>Carrito</span>
        </button>
    </div>
    <div class="header-access">
        <button class="login">Iniciar Sesion</button>
        <button class="sign-in">Registrarse</button>
    </div>
</header>
